.ModalWindowTimerConteiner {
    display: grid;
    box-sizing: border-box;
    grid-template-columns: max-content 1fr;
    grid-column-gap: 16px;

    .ModalWindowTimerList {
        display: grid;
        grid-template-rows: repeat(auto-fill, 56px);
        gap: 8px;
        max-height: 298px;
        min-width: 204px;
        overflow-x: auto;
        border-radius: 8pt;
        padding: 8px;
        background-color: var(--color-surface-container);
        box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.274);

    }

    .ModalWindowTimerControlPanel {
        display: grid;
        grid-column: 2;
        width: 100%;
        max-height: 298px;
        box-sizing: border-box;
        background-color: var(--color-surface-container);
        border-radius: 8pt;
        padding: 16px;
        grid-template-rows: 32px 1fr 1fr;


        .ModalWindowTimerLable {
            display: grid;
            font-size: 1.1em;
            font-weight: 400;
        }

        .ModalWindowTimerContolBTN {
            display: grid;
            grid-template-rows: 1fr 1fr;

            .ModalBtnAdd {
                width: 155px;
            }
        }
    }
}