.MainScreen {
    display: grid;
    width: 100svw;
    min-height: 100%;
    overflow: scroll;

    .MainScreenCradsConteiner {
        display: flex;
        width: 95%;
        margin: auto;
        justify-content: center;
        max-width: max-content;
        flex-wrap: wrap;
        box-sizing: border-box;
        column-gap: 21px;
        row-gap: 80px;
    }
}