$HeightBackground_Normmal: 260px;
$HeightTitle_Normal: 75px;
$PaddingButtomBackround: 30px;
$PaadingInBlockTitle: $PaddingButtomBackround + 10px;
$TimeAnimation: 100ms;

.MainCardConteiner{
    display: grid;
    background-color: var(--color-surface);
    min-width: 226px;
    min-height: 260px;
    max-width: 226px;
    position: relative;
    overflow: hidden;
    border-radius: 8pt;
    grid-template-rows: 1fr 70px;
    align-items: center;
    justify-items: center;
    transition: all 150ms ease-in;
    .MainCardBackground{
        display: grid;
        grid-row: 1;
        position: absolute;
        z-index: 1;
        background-color: var(--color-primary-container);
        align-items: center;
        justify-items: center;
        width: 100%;
        height: ($HeightBackground_Normmal - $HeightTitle_Normal) + $PaddingButtomBackround;
        bottom: ($HeightBackground_Normmal - ($HeightBackground_Normmal - $HeightTitle_Normal)) - $PaddingButtomBackround;
        border-radius: 8pt;
        color: var(--color-on-primary-container);
        transition: all $TimeAnimation ease-in;
    }
    .MainCardTitle{
        display: grid;
        background-color: var(--color-secondary);
        width: 100%;
        height: $HeightTitle_Normal;
        position: absolute;
        top: ($HeightBackground_Normmal - $HeightTitle_Normal);
        justify-items: center;
        font-size: 1.4em;
        font-weight: 400;
        color: var( --color-on-secondary);
        padding-top: $PaadingInBlockTitle;
        transition: all $TimeAnimation ease-in;
    }

    &:hover{
        border-radius: 16pt;
        box-shadow: 0px 6px 8px var(--color-shadow);
        .MainCardBackground{
            border-radius: 16pt;
            background-color: var(--color-inverse-primary);
        }
        .MainCardTitle{
            background-color: var(--color-primary);
            font-weight: 600;
        }
    }
}