.MapViewItem {
    display: grid;
    position: relative;
    grid-auto-columns: 86px 1fr;
    height: 72px;
    width: 100%;
    border-radius: 8pt;
    background-color: var(--color-surface);

    .MapViewItemIconConteiner {
        display: grid;
        align-items: center;
        justify-items: center;
        grid-column: 1;

        .MapViewItemIcon {
            display: grid;
            width: 70px;
            height: 56px;
            background-color: var(--color-surface-container);
            border-radius: 4pt;
            align-items: center;
            justify-items: center;
        }
    }

    .MapViewItemInfoConteiner {
        display: grid;
        width: 100%;
        height: 100%;
        grid-column: 2;
        align-items: center;

        .MapViewInfo {
            display: grid;
            grid-template-rows: 1fr 1fr;
            grid-row-gap: 4px;
            align-items: center;


            &:nth-child(-n+2) {
                display: grid;
                height: fit-content;
                width: 90%;
            }

            .MapViewInfoL1 {
                font-size: 1.1em;
                font-weight: 200;
            }

            .MapViewInfoL2 {
                display: grid;
                padding: 0px;
                border-radius: 50pt;
                height: 20px;
                width: 100%;
                justify-content: end;
                grid-column-gap: 2px;
                height: min-content;
                font-size: 0.9em;
                font-weight: 600;
                padding-left: 6px;
                color: var(--color-on-error-container);
                


                .mapViewInfoConteiner {
                    display: grid;
                    justify-self: end;
                    grid-auto-flow: column;
                    grid-auto-columns: 35px;
                    border-radius: 50px;
                    overflow: hidden;
                    background-color: #CFC4F2;

                    p {
                        display: grid;
                        background-color: #CFC4F2;
                        display: grid;
                        margin: 0;
                        border-radius: 50px;
                        padding-left: 4px;
                        height: 20px;
                        align-items: center;
                        justify-content: center;
                        transform-style: preserve-3d;
                        

                        &:first-child {
                            background-color: #CFC4F2;
                            color: var(--color-on-surface);
                        }

                        &:nth-child(2):not(:last-child) {
                            position: relative;
                            background-color: #B39CFF;
                            color: var(--color-on-surface);



                            &::after {
                                display: block;
                                position: absolute;
                                content: '';
                                width: 20px;
                                height: 100%;
                                background-color: #B39CFF;
                                left: 76%;
                                transform: translateZ(-1px);
                            }
                        }

                        &:nth-child(3) {
                            background-color: #8C69FF;
                            color: var(--color-on-primary);

                            &::after {
                                display: block;
                                position: absolute;
                                content: '';
                                width: 20px;
                                height: 100%;
                                background-color: #8C69FF;
                                left: 76%;
                                transform: translateZ(-1px);
                            }
                        }

                        &:nth-child(4) {
                            background-color: var(--color-primary);
                            color: var(--color-on-primary);

                            &::after {
                                display: block;
                                position: absolute;
                                content: '';
                                width: 20px;
                                height: 100%;
                                background-color: var(--color-primary);
                                left: 76%;
                                transform: translateZ(-1px);
                            }
                        }

                        &:last-child {
                            background-color: var(--color-primary);
                            color: var(--color-on-primary);
                            padding-left: 0px;
                        }
                    }

                }
            }
        }
    }
}

.MapViewItem.linked {
    background-color: var(--color-surface-container);
    cursor: pointer;

    .MapViewItemIconConteiner {
        .MapViewItemIcon {
            background-color: var(--color-surface);
        }
    }

    .MapViewIconMore {
        display: grid;
        position: absolute;
        width: 20px;
        height: 20px;
        background-color: var(--color-primary-container);
        align-items: center;
        justify-items: center;
        border-radius: 50pt;
        top: -5px;
        right: -5px;
        justify-self: end;
        font-size: 1em;
        font-weight: 400;
        color: var(--color-on-primary-container);
        -webkit-box-shadow: -2px 2px 4px 0px rgba(0, 0, 0, 0.33);
    }

    &:hover {
        background-color: var(--color-inverse-primary);

        .MapViewIconMore {
            background-color: var(--color-primary);
            color: var(--color-on-secondary);
        }

    }
}