.Header_Conteiner {
    display: grid;
    position: relative;
    width: 100%;
    min-height: 100px;
    max-height: 100px;
    box-sizing: border-box;
    background-color: var(--color-surface-container-highest);
    grid-template-columns: repeat(4, 56px) 128px 164px 1fr;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    grid-gap: 8px;

    .HeaderButtonMove {
        width: 56px;
        min-height: 56px;
        max-height: 56px;
        border-radius: 28pt;
        background-color: rgba(0, 0, 0, 0);

        &:hover {}
    }

    .HeaderButton_NoneActive {
        cursor: default;
        pointer-events: none;

        svg>* {
            fill: var(--color-outline);
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0);

            svg>* {
                fill: var(--color-outline);
            }
        }
    }

    .HeaderButton_Active {
        cursor: pointer;
        pointer-events: all;

        svg>* {
            fill: var(--color-on-surface-variant);
        }

        &:hover {
            background-color: rgba(0, 0, 0, 0.5);

            svg>* {
                fill: var(--color-on-primary);
            }
        }
    }

    .HeaderButtonOutline {
        box-shadow: inset 0 0 0 2px var(--color-outline);
        padding-left: 14px;
        background-color: var(--color-surface);

        svg>* {
            fill: var(--color-outline);
        }

        &:hover {
            box-shadow: inset 0 0 0 0px var(--color-on-secondary);
            background-color: var(--color-secondary);

            svg>* {
                fill: var(--color-on-secondary);
            }
        }
    }

    .HeaderTimer{
        font-size: large;
    }

    .HeaderLable{
        align-items: center;
        justify-items: center;
        text-align: center;
        width: 100%;
        font-size: 2.5em;
        font-weight: 400;
        color: var(--color-secondary);
    }
}